* {
  text-align: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;

  touch-action: pan-y;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 13px;
}

.l-game-ui {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: BlobFont, "Xia Lu Wen Kai";
  color: var(--color-text);
  background-color: var(--color-background);
}

:root {
  --color-text: #bbbbbb;
  --color-background: #1b1a1e;
  --color-grey: #777777;
  --color-accent: white;
  --color-rage-powers: red;
  --color-dark-matter: yellow;
  --height-app-bar: 56px;
  --color-app-bar: black;
  --color-proton: limegreen;
  --color-neutron: yellow;
  --color-electron: red;
  --color-dilation: #009a00;
  --color-supernova: #ff009d;
  --color-fermion-quark: #ff9100;
  --color-fermion-lepton: #00ff22;
  --color-quantum: lightgreen;
  --color-chroma0: #ff0000;
  --color-chroma1: #00ff00;
  --color-chroma2: #6666ff;
  --color-bought: #00520b;
  --var-border-radius: 0;
}

:root .light-theme {
  --color-background: #ffffff;
  --color-app-bar: #018577;
  --color-text: #787878;
  --color-grey: #606060;
  --color-accent: black;
  --color-dark-matter: #ffdd33;
  --color-neutron: #ffdd33;
  --color-dilation: #00da00;
  --color-fermion-quark: #d87800;
  --color-fermion-lepton: #00d80c;
  --color-quantum: #00bc10;
  --color-bought: #6ad477;
}

:root .ad-ui {
  --color-good: #127a20;
  --color-bad: #b84b5f;
  --color-dilation: #7ead0b;
}

:root .light-theme.ad-ui {
  --color-bad: #b82b3f;
  --color-dilation: #a4dd17;
}

#browser-warning {
  display: none;
}

@font-face {
  font-family: BlobFont;
  font-weight: normal;
  src: url("blob_font_regular.ttf");
  unicode-range: U+0000-007F. U+0370-03FF, U+1F00-1FFF;
}

@font-face {
  font-family: BlobFont;
  font-weight: bold;
  src: url("blob_font_bold.ttf");
  unicode-range: U+0000-007F, U+0370-03FF, U+1F00-1FFF;
}

@font-face {
  font-family: "Xia Lu Wen Kai";
  src: url("XiaLuWenKai-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Xia Lu Wen Kai";
  src: url("XiaLuWenKai-Medium.ttf");
  font-weight: bold;
}

input:focus {
  border-radius: 0;
}

.l-game-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  font-size: 11px;
  margin-bottom: 10px;
  padding: 4px 0;
}

.c-mass-amount {
  font-size: 165%;
  font-weight: bold;
  color: var(--color-text);
}

.i-header {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-left: 2px;
  margin-right: 5px;
}

.i-header--shadow {
  width: 40px;
  height: 40px;
  transform: rotate(-30deg);
  position: absolute;
  right: 2px;
  bottom: -5px;
  background-position: center;
  background-size: 120%;
  filter: blur(1px);
  z-index: 0;
  opacity: 0.3;
  mix-blend-mode: lighten;
}

.light-theme .i-header {
  filter: invert(1) hue-rotate(180deg);
}

.light-theme .i-header--shadow {
  mix-blend-mode: lighten;
}

.c-header-image-shadow-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.l-header-resource-tooltip {
  width: 160px;
  position: absolute;
  top: 110%;
  z-index: 2;
  background-color: #171717;
  border: 1px solid white;
  padding: 6px;
}

.light-theme .l-header-resource-tooltip {
  color: black;
  background-color: #f6f6f6;
  border-color: black;
}

.ad-ui .l-header-resource-tooltip {
  border-radius: 5px;
}

.c-header-resource-tooltip__name {
  font-size: 16px;
  font-weight: bold;
}

.a-tooltip-enter-active,
.a-tooltip-leave-active {
  transition: opacity 0.2s;
}

.a-tooltip-enter,
.a-tooltip-leave-to {
  opacity: 0;
}

.o-split-line {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  margin: 4px 0;
}

.i-mass {
  background-image: url("../images/mass.png");
}

.i-rage-powers {
  background-image: url("../images/rp.png");
}

.i-dark-matter {
  background-image: url("../images/dm.png");
}

.i-black-hole {
  background-image: url("../images/bh.png");
}

.i-atom {
  background-image: url("../images/atom.png");
}

.i-quark {
  background-image: url("../images/quark.png");
}

.i-dilation {
  background-image: url("../images/md.png");
}

.i-supernova {
  background-image: url("../images/sn.png");
}

.i-quantum {
  background-image: url("../images/qu.png");
}

.i-speed {
  background-image: url("../images/preQGSpeed.png");
}

.c-rage-powers-amount {
  color: var(--color-rage-powers);
}

.c-dark-matter-amount {
  color: var(--color-dark-matter);
}

.c-atom-amount {
  color: var(--color-atom);
}

.o-quantum {
  color: var(--color-quantum);
}

.o-speed-text {
  color: orange;
}

.l-header-resource-row {
  display: flex;
  flex-direction: row;
}

.l-header-resource {
  display: flex;
  flex: 1;
  position: relative;
  margin: 2px;
  padding: 3px 1px;
  border: 1px solid;
  border-left-width: 3px;
}

.ad-ui .l-header-resource {
  border-radius: 5px;
}

.c-header-resource-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
}

.c-header-resource-info span {
  white-space: nowrap;
  overflow-x: hidden;
}

.o-default-border {
  border-color: var(--color-text);
}

.o-rp-border {
  border-color: var(--color-rage-powers);
}

.o-dark-matter-border {
  border-color: var(--color-dark-matter);
}

.o-quark-border {
  animation: a-quark__border 6s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.o-dilation-border {
  border-color: var(--color-dilation);
}

.o-supernova-border {
  border-color: var(--color-supernova);
}

.o-quantum-border {
  border-color: var(--color-quantum);
}

.o-speed-border {
  border-color: orange;
}

.o-primary-btn {
  font-family: BlobFont, "Xia Lu Wen Kai";
  background-color: #353535;
  border: 1px solid white;
  padding: 5px;
  color: var(--color-accent);
}

.ad-ui .o-primary-btn {
  background-color: #181818;
  border-color: var(--color-good);
  border-radius: 4px;
  transition-duration: 0.1s;
}

.light-theme .o-primary-btn {
  background-color: #f6f6f6;
}

.ad-ui .o-primary-btn:not(.o-primary-btn--disabled):active {
  background-color: #336633;
}

.light-theme.ad-ui .o-primary-btn:not(.o-primary-btn--disabled):active {
  background-color: #8bc599;
}

.o-primary-btn--disabled {
  background-color: #171717;
}

.ad-ui .o-primary-btn--disabled {
  background-color: #272727;
  border-color: var(--color-bad);
}

.light-theme .o-primary-btn--disabled {
  background-color: #e3e3e3;
}

.light-theme:not(.ad-ui) .o-primary-btn {
  border-color: #303030;
}

.l-view {
  overflow-y: auto;
  height: calc(100vh - 90px);
  position: relative;
  margin-top: var(--height-app-bar);
  margin-bottom: 90px;

  touch-action: pan-y !important;
}

#page {
  width: 100%;
  padding-right: 5px;
  padding-bottom: calc(var(--height-app-bar) + 100px);
  padding-left: 5px;
}

.l-rank-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 6px 0;
}

.l-rank-container:first-child {
  margin-right: 2.25px;
}

.l-rank-container:last-child {
  margin-left: 2.25px;
}

.l-rank-container {
  width: calc(50% - 2.25px);
}

.c-rank-title {
  height: 32px;
  line-height: 30px;
  margin-bottom: 5px;
}

.c-rank-title .o-primary-btn {
  width: 50px;
  margin: 1px 5px;
  padding: 4px 6px;
}

.c-rank-amount {
  font-size: 16px;
  font-weight: bold;
  margin: 0 3px;
}

.o-rank-btn {
  width: 100%;
  height: 120px;
  font-size: 10px;
  padding: 4px 10px;
}

.o-row-space {
  width: 4.5px;
  height: 100%;
}

.o-column-space {
  width: 100%;
  height: 4.5px;
}

.i-upgrade {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin: 0 5px;
}

.light-theme .i-upgrade {
  filter: invert(1) hue-rotate(180deg);
}

.l-mass-upgrade-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.l-mass-upgrade-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.l-mass-upgrade-row--text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 12px;
  padding: 0 5px;
}

.c-mass-upgrade-name--small {
  font-size: 85%;
}

.i-mass-upgrade-1 {
  background-image: url("../images/mass_upg1.png");
}

.i-mass-upgrade-2 {
  background-image: url("../images/mass_upg2.png");
}

.i-mass-upgrade-3 {
  background-image: url("../images/mass_upg3.png");
}

.i-mass-upgrade-4 {
  background-image: url("../images/mass_upg4.png");
}

.i-tickspeed {
  background-image: url("../images/tickspeed.png");
}

.i-condenser {
  background-image: url("../images/condenser.png");
}

.i-cosmic-ray {
  background-image: url("../images/cosmic_ray.png");
}

.i-star-booster {
  background-image: url("../images/star_booster.png");
}

.i-cosmic-string {
  background-image: url("../images/cosmic_string.png");
}

.o-buy-mass-upgrade-btn {
  height: 30px;
  font-size: 11px;
  margin: 0 2px;
  padding: 0 5px;
}

.o-buy-mass-upgrade-btn--main {
  flex: 1;
}

.o-buy-mass-upgrade-btn--auto {
  padding-left: 8px;
  padding-right: 8px;
}

.c-mass-name {
  display: flex;
  flex-direction: row;
  width: 110px;
  align-items: center;
  margin-right: 5px;
}

.l-drawer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  text-align: left;
  color: #bbbbbb;
  background-color: var(--color-background);
}

.light-theme .l-drawer {
  color: black;
}

.a-drawer-enter-active,
.a-drawer-leave-active {
  transition: left 0.3s;
}

.a-drawer-enter,
.a-drawer-leave-to {
  left: -100%;
}

.l-background-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 60%);
  transition-duration: 0.3s;
}

.l-modal-overlay {
  /* stylelint-disable-next-line unit-allowed-list */
  width: 100vw;
  /* stylelint-disable-next-line unit-allowed-list */
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  animation-name: a-modal-overlay-fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  pointer-events: auto;
}

.a-overlay-enter-active,
.a-overlay-leave-active {
  transition: background-color 0.3s;
}

.a-overlay-enter,
.a-overlay-leave-to {
  background-color: rgba(0, 0, 0, 0%);
}

.c-drawer-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  justify-content: space-around;
  align-items: flex-start;
  background-image: linear-gradient(305deg, #1b1a1e, #0e0d0f, #000000);
  padding: 20px;
}

.light-theme .c-drawer-top {
  color: black;
  background-image: linear-gradient(305deg, #4db6ac, #009688, #00695c);
}

.c-game-icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/mass_manifest.png");
  background-size: contain;
}

.light-theme .c-game-icon {
  filter: invert(1) hue-rotate(180deg);
  opacity: 0.8;
}

.c-drawer-tabs {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 120px);
}

.c-drawer-tabs::-webkit-scrollbar {
  display: none;
}

.c-drawer-tab {
  width: 100%;
}

.c-drawer-tab-name {
  height: 50px;
  text-align: left;
  font-weight: bold;
  line-height: 50px;
  padding-left: 20px;
  transition: background-color 0.3s;
}

.c-drawer-subtab-container {
  width: 100%;
}

.c-drawer-subtab-name {
  height: 40px;
  text-align: left;
  line-height: 40px;
  padding-left: 40px;
  transition: background-color 0.3s;
}

.c-drawer-subtab-name:active,
.c-drawer-tab-name:active,
.c-bottom-tab:active {
  background-color: rgba(0, 0, 0, 10%);
}

.o-split-line--tab {
  height: 0.5px;
  background-color: #373639;
  margin: 0;
}

.l-modal {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.c-modal {
  background-color: #171717;
  border: 1px solid black;
  padding: 30px;
  transition: all 0.2s, left 0s, top 0s, transform 0s;
}

.l-game-ui:not(.ad-ui) .c-modal {
  border-color: white;
  border-width: 1px;
}

.light-theme .c-modal {
  color: black;
  background-color: #e0e0e0;
}

.ad-ui .c-modal {
  border-radius: 9px;
  border-width: 1.5px;
}

.c-modal-message,
.c-modal-message__text {
  min-width: 250px;
}

.c-modal-message__okay-btn {
  margin: 10px 5px 0;
}

.o-softcapped {
  font-weight: bold;
  color: #66688a;
  text-shadow: 0 0 2px 3px #857da6;
  margin-left: 3px;
  pointer-events: none;
}

.light-theme .o-softcapped {
  color: #505382;
}

.c-mass-upgrade-name-amount {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.c-modal__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.c-modal__close-btn--tiny {
  top: -0.5px;
  right: -0.5px;
  transform: scale(0.5);
}

.o-primary-btn--modal-close {
  width: 24px;
  height: 24px;
  font-size: 18px;
  line-height: 18px;
  padding: 0;
}

.l-modal-content--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-modal__confirmation-toggle {
  margin: 5px 0;
}

.c-modal__confirmation-toggle__checkbox {
  display: inline-flex;
  width: 20px;
  height: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 13px;
  color: var(--color-text);
  background-color: #171717;
  border: 1px solid white;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.light-theme .c-modal__confirmation-toggle__checkbox {
  background-color: #e3e3e3;
  border-color: var(--color-bad);
  border-radius: 2px;
}

.ad-ui .c-modal__confirmation-toggle__checkbox {
  border-radius: 2px;
}

.c-modal__confirmation-toggle__checkbox--active {
  background-color: #444444;
}

.light-theme .c-modal__confirmation-toggle__checkbox--active {
  background-color: #f6f6f6;
  border-color: var(--color-good);
}

.modal__confirmation-toggle__text {
  vertical-align: middle;
  opacity: 0.7;
}

.c-sky {
  color: skyblue;
}

.c-green {
  color: #00bb00;
}

.light-theme .c-sky {
  color: #44acee;
}

.light-theme .c-green {
  color: #00aa00;
}

.c-yellow {
  color: yellow;
}

.light-theme .c-yellow {
  color: #ffdf00;
}

.c-bh-info {
  display: flex;
  flex-direction: column;
}

.l-bottom-padding {
  width: 100%;
  height: 50px;
}

.l-rank-info,
.l-scaling-info {
  border: 1px solid var(--color-accent);
  margin: 6px 0;
  padding: 5px;
}

.ad-ui .l-rank-info,
.ad-ui .l-scaling-info {
  border-radius: 4px;
}

.l-challenges-layout {
  display: flex;
  flex-direction: column;
}

.o-challenge-header {
  color: var(--color-grey);
  margin: 5px 0;
}

.c-modal-options .o-primary-btn--width-medium {
  margin-top: 7px;
}

.c-modal-away-progress__header {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.o-quark {
  animation: a-quark 6s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes a-quark {
  0%,
  100% {
    color: red;
  }

  33.3% {
    color: blue;
  }

  66.7% {
    color: limegreen;
  }
}

@keyframes a-quark__border {
  0%,
  100% {
    border-color: red;
  }

  33.3% {
    border-color: blue;
  }

  66.7% {
    border-color: limegreen;
  }
}

.o-proton {
  color: var(--color-proton);
}

.o-neutron {
  color: var(--color-neutron);
}

.o-electron {
  color: var(--color-electron);
}

.o-notification {
  white-space: nowrap;
  width: 100%;
  height: 50px;
  font-size: 13px;
  font-weight: bold;
  line-height: 50px;
  color: black;
  background-color: white;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 30%);
  padding: 0 5px;
  pointer-events: auto;
  cursor: pointer;
}

.o-notification--success {
  background-color: #ffdf00;
}

.o-notification--info {
  background-color: #48c0e8;
}

.o-notification--supernova {
  background-color: #fc6f98;
}

.a-notification--enter {
  animation: a-notification--enter 0.3s ease-out;
  animation-fill-mode: both;
}

@keyframes a-notification--enter {
  0% { transform: translateY(150px); }
  65% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.a-notification--leave {
  transform: translateY(150px);
  transition: transform 0.15s ease-in;
}

.c-mass-softcap-row {
  font-size: 14px;
}

.c-mass-softcap-row:first-child {
  color: red;
}

.c-mass-softcap-row:nth-child(2) {
  color: #790000;
}

.c-mass-softcap-row:nth-child(3) {
  color: #7a0056;
}

.c-mass-softcap-row:nth-child(4) {
  color: #ff5c00;
}

.c-mass-softcap-row:nth-child(5) {
  color: #ffde00;
}

.c-mass-softcap-row:nth-child(6) {
  color: #a6ff00;
}

.c-mass-softcap-row:nth-child(7) {
  color: #00ff95;
}

.c-mass-softcap-row:nth-child(8) {
  color: #00c1ff;
}

.l-element-table-container {
  overflow-x: auto;
  width: 100%;
  height: auto;
  min-height: 414px;
  position: relative;
  margin: 10px auto;
}

.l-element-table-container::-webkit-scrollbar {
  display: none;
}

.o-element-grid {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 28px;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #1b1a1e;
  border: 1px solid white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.light-theme .o-element-grid {
  color: black;
  background-color: #e3e3e3;
  border-color: black;
}

.ad-ui .o-element-grid { 
  border-radius: 3px;
}

.o-element-grid--available {
  background-color: #444444;
}

.light-theme .o-element-grid--available {
  background-color: #f6f6f6;
}

.o-element-grid--bought {
  background-color: var(--color-bought) !important;
}

.o-element-grid--selected {
  transform: scale(110%);
  z-index: 1;
}

.o-dilation {
  color: var(--color-dilation);
}

.o-highlight {
  font-size: 120%;
  color: var(--color-accent);
}

.o-supernova {
  color: var(--color-supernova);
}

.c-red {
  color: red;
}

.c-modal-input {
  text-align: center;
  font-family: BlobFont, "Xia Lu Wen Kai";
  color: white;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid white;
  border-left: none;
  outline: none;
  margin: 5px;
  transition-duration: 0.1s;
}

.light-theme .c-modal-input {
  color: black;
  border-bottom-color: #dd1860;
}

.c-modal-input:focus {
  border-bottom-width: 2px;
  margin-bottom: 4px;
}

.c-modal-import__save-info > div {
  margin-top: 2px;
}

.c-modal-import__warning {
  font-size: 10px;
}

.c-modal-import__input {
  width: 100%;
}

.c-tachyon-particle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.o-tachyon-particle {
  fill: var(--color-accent);
}

.o-tachyon-particle-1 {
  fill: red;
}

.o-tachyon-particle-2 {
  fill: blue;
}

.l-fermions-container {
  padding: 5px;
}

.ad-ui .l-fermions-container {
  border-radius: 5px;
}

.l-fermions-container--quark {
  background-color: rgba(255, 145, 0, 0.25);
}

.l-fermions-container--lepton {
  background-color: rgba(0, 255, 34, 0.25);
}

.light-theme .l-fermions-container--quark {
  background-color: rgba(216, 120, 0, 0.4);
}

.light-theme .l-fermions-container--lepton {
  background-color: rgba(0, 216, 12, 0.4);
}

.c-fermions {
  display: grid;
  justify-items: center;
  align-items: center;
}

.l-fermions-container--quark .c-fermions {
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.l-fermions-container--lepton .c-fermions {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.c-fermion-box {
  height: 100px;
  width: 100px;
  display: flex;
  border: 1px solid var(--main-color);
  margin: 3px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background-color: rgba(88, 88, 88, 0.05);
}

.ad-ui .c-fermion-box {
  border-radius: 5px;
}

.o-fermion-symbol {
  background: radial-gradient(
    circle at 30% 30%,
    white 0%,
    var(--main-color) 10%,
    rgb(32, 32, 32, 0.6) 90%
  );
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  margin: 6px;
  line-height: 50px;
  color: #eeeeee;
}

.l-fermions-container--quark .c-fermion-box {
  --main-color: var(--color-fermion-quark);
}

.l-fermions-container--lepton .c-fermion-box {
  --main-color: var(--color-fermion-lepton);
}

.c-fermion-box--active {
  background:
    repeating-linear-gradient(
      -45deg,
      var(--main-color),
      var(--main-color) 10px,
      rgba(88, 88, 88, 0.05) 10px,
      rgba(88, 88, 88, 0.05) 20px
    );
}

.c-fermion-box--selected {
  box-shadow: inset 0 0 5px 3px var(--main-color);
}

.c-fermion-box--locked {
  filter: grayscale(60%);
}

sub {
  font-size: 80%;
}

.o-fermion-name {
  font-weight: bold;
  color: #eeeeff;
}

.o-fermion-tier {
  font-size: 10px;
}

.light-theme .o-fermion-name {
  font-weight: bold;
  color: #306365;
}

.l-fermion-info {
  border: 1px solid var(--color-accent);
  padding: 8px 10px;
  margin: 6px 3px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

.ad-ui .l-fermion-info {
  border-radius: 6px;
}