* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

body {
  width: 100%;
  height: 100%;
  font-size: 13px;
  overflow: hidden;
}

.l-game-ui {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: BlobFont, serif;
  color: var(--color-text);
  background-color: var(--color-background);
  overflow: hidden;
}

:root {
  --color-text: #bbbbbb;
  --color-background: #1b1a1e;
  --color-grey: #777777;
  --color-rage-powers: red;
  --color-dark-matter: yellow;
  --height-app-bar: 56px;
  --color-proton: limegreen;
  --color-neutron: yellow;
  --color-electron: red;
}

#browser-warning {
  display: none;
}

@font-face {
  font-family: BlobFont;
  src: url("blob_font_regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: BlobFont;
  src: url("blob_font_bold.ttf");
  font-weight: bold;
}

input:focus {
  border-radius: 0;
}

.l-game-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  font-size: 11px;
  padding: 4px 0;
  margin-bottom: 10px;
}

.c-mass-amount {
  font-size: 165%;
  font-weight: bold;
  color: var(--color-text);
}

.i-header {
  width: 25px;
  height: 25px;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 0 5px;
}

.l-header-resource-tooltip {
  position: absolute;
  width: 160px;
  padding: 6px;
  top: 110%;
  border: 1px solid white;
  background-color: #171717;
  z-index: 1;
}

.c-header-resource-tooltip__name {
  font-weight: bold;
  font-size: 16px;
}

.a-tooltip-enter-active, .a-tooltip-leave-active {
  transition: opacity 0.2s;
}
.a-tooltip-enter, .a-tooltip-leave-to {
  opacity: 0;
}

.o-split-line {
  display: flex;
  width: 100%;
  margin: 4px 0;
  background-color: var(--color-text);
  height: 1px;
}

.i-mass {
  background-image: url("../images/mass.png");
}

.i-rage-powers {
  background-image: url("../images/rp.png");
}

.i-dark-matter {
  background-image: url("../images/dm.png");
}

.i-black-hole {
  background-image: url("../images/bh.png");
}

.i-atom {
  background-image: url("../images/atom.png");
}

.i-quark {
  background-image: url("../images/quark.png");
}

.c-rage-powers-amount {
  color: var(--color-rage-powers);
}

.c-dark-matter-amount {
  color: var(--color-dark-matter);
}

.c-atom-amount {
  color: var(--color-atom);
}

.l-header-resource-row {
  display: flex;
  flex-direction: row;
}

.l-header-resource {
  flex: 1;
  display: flex;
  margin: 5px;
  position: relative;
}

.c-header-resource-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.o-primary-btn {
  color: white;
  font-family: BlobFont, serif;
  border: 1px solid white;
  background-color: #353535;
  padding: 5px;
}

.ad-ui .o-primary-btn {
  border-color: #127a20;
  background-color: #181818;
  border-radius: 4px;
}

.o-primary-btn--disabled {
  background-color: #171717;
}

.ad-ui  .o-primary-btn--disabled {
  border-color: #b84b5f;
  background-color: #272727;
}

.l-view {
  height: calc(100vh - 90px);
  margin-bottom: 90px;
  overflow-y: auto;
  touch-action: pan-y !important;
}

#page {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: calc(var(--height-app-bar) + 100px);
}

.l-rank-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 6px 0;
}

.l-rank-container:first-child {
  margin-right: 2.25px;
}

.l-rank-container:last-child {
  margin-left: 2.25px;
}

.l-rank-container {
  width: calc(50% - 2.25px);
}

.c-rank-title {
  margin-bottom: 5px;
  height: 32px;
  line-height: 30px;
}

.c-rank-title .o-primary-btn {
  margin: 1px 5px;
  padding: 4px 6px;
  width: 50px;
}

.c-rank-amount {
  font-size: 16px;
  font-weight: bold;
  margin: 0 3px;
}

.o-rank-btn {
  width: 100%;
  padding: 4px 10px;
  font-size: 10px;
  height: 120px;
}

.o-row-space {
  width: 4.5px;
  height: 100%;
}

.o-column-space {
  width: 100%;
  height: 4.5px;
}

.i-upgrade {
  width: 25px;
  height: 25px;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 0 5px;
}

.l-mass-upgrade-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.l-mass-upgrade-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.l-mass-upgrade-row--text {
  display: flex;
  justify-centent: flex-start;
  width: 100%;
  padding: 0 5px;
  font-size: 12px;
}

.c-mass-upgrade-name--small {
  font-size: 85%;
}

.i-mass-upgrade-1 {
  background-image: url("../images/mass_upg1.png");
}

.i-mass-upgrade-2 {
  background-image: url("../images/mass_upg2.png");
}

.i-mass-upgrade-3 {
  background-image: url("../images/mass_upg3.png");
}

.i-mass-upgrade-4 {
  background-image: url("../images/mass_upg4.png");
}

.i-tickspeed {
  background-image: url("../images/tickspeed.png");
}

.i-condenser {
  background-image: url("../images/condenser.png");
}

.i-cosmic-ray {
  background-image: url("../images/cosmic_ray.png");
}

.o-buy-mass-upgrade-btn {
  margin: 0 2px;
  padding: 0 5px;
  font-size: 11px;
  height: 30px;
}

.o-buy-mass-upgrade-btn--main {
  flex: 1;
}

.c-mass-name {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  align-items: center;
  width: 110px;
}

.l-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #1b1a1e;
  z-index: 6;
  color: #bbbbbb;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.a-drawer-enter-active, .a-drawer-leave-active {
  transition: left 0.3s;
}
.a-drawer-enter, .a-drawer-leave-to {
  left: -100%;
}

.l-background-overlay {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0,
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.l-modal-overlay {
  /* stylelint-disable-next-line unit-allowed-list */
  width: 100vw;
  /* stylelint-disable-next-line unit-allowed-list */
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation-name: a-modal-overlay-fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  pointer-events: auto;
}

.a-overlay-enter-active, .a-overlay-leave-active {
  transition: background-color 0.3s;
}
.a-overlay-enter, .a-overlay-leave-to {
  background-color: rgba(0, 0, 0, 0);
}

.c-drawer-top {
  width: 100%;
  height: 120px;
  background-image: linear-gradient(305deg, #1b1a1e, #0e0d0f, #000000);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.c-game-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url("../images/mass_manifest.png");
}

.c-drawer-tab {
  width: 100%;
}

.c-drawer-tab-name {
  text-align: left;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  transition: background-color 0.3s;
  padding-left: 20px;
}

.c-drawer-subtab-container {
  width: 100%;
}

.c-drawer-subtab-name {
  text-align: left;
  height: 40px;
  line-height: 40px;
  transition: background-color 0.3s;
  padding-left: 40px;
}

.c-drawer-subtab-name:active,
.c-drawer-tab-name:active,
.c-bottom-tab:active {
  background-color: #49484b;
}

.o-split-line--tab {
  background-color: #373639;
  height: 0.5px;
  margin: 0;
}

.l-modal {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.c-modal {
  background-color: #171717;
  border: 1px solid white;
  padding: 30px;
  transition: all 0.2s, left 0s, top 0s, transform 0s;
}

.ad-ui .c-modal {
  border-color: black;
  background-color: #222222;
  border-radius: 6px;
  border-width: 2px;
}

.c-modal-message,
.c-modal-message__text {
  min-width: 250px;
}

.c-modal-message__okay-btn {
  margin: 10px 5px 0;
}

.o-primary-btn--modal-close {
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 24px;;
  padding: 0;
}

.o-softcapped {
  color: #66688a;
  font-weight: bold;
  text-shadow: 0 0 2px 3px #857da6;
  pointer-events: none;
  margin-left: 3px;
}

.c-mass-upgrade-name-amount {
  display: flex;
  flex-direction: column;
  font-size: 12x;
}

.c-modal__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.c-modal__close-btn--tiny {
  top: -0.5px;
  right: -0.5px;
  transform: scale(0.5);
}

.o-primary-btn--modal-close {
  width: 24px;
  height: 24px;
  font-size: 18px;
  line-height: 18px;
  padding: 0;
}

.l-modal-content--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-modal__confirmation-toggle {
  margin: 5px 0;
}

.c-modal__confirmation-toggle__checkbox {
  display: inline-flex;
  width: 20px;
  height: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 13px;
  color: var(--color-text);
  background-color: #171717;
  border: 1px solid white;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.ad-ui .c-modal__confirmation-toggle__checkbox {
  border-radius: 2px;
}

.c-modal__confirmation-toggle__checkbox--active {
  background-color: #444444;
}

.ad-ui .c-modal__confirmation-toggle__checkbox {
  border-color: #b84b5f;
  background-color: #272727;
}

.ad-ui .c-modal__confirmation-toggle__checkbox--active {
  border-color: #127a20;
  background-color: #181818;
}

.modal__confirmation-toggle__text {
  vertical-align: middle;
  opacity: 0.7;
}

.c-sky {
  color: skyblue;
}

.c-green {
  color: #00bb00;
}

.c-yellow {
  color: yellow;
}

.c-bh-info {
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
}

.c-bh-amount {
  color: var(--color-text);
  font-size: 120%;
}

.l-bottom-padding {
  width: 100%;
  height: 50px;
}

.l-rank-info {
  border: 1px solid white;
  padding: 5px;
  margin: 6px 0;
}

.ad-ui .l-rank-info {
  border-radius: 4px;
}

.l-challenges-layout {
  display: flex;
  flex-direction: column;
}

.o-challenge-header {
  color: var(--color-grey);
  margin: 5px 0;
}

.c-modal-options .o-primary-btn--width-medium {
  margin-top: 7px;
}

.c-modal-away-progress__header {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.o-quark {
  animation: a-quark 6s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes a-quark {
 0%, 100% {
    color: red;
  }
  33.3% {
    color: blue;
  }
  66.7% {
    color: limegreen;
  }
}

.o-proton {
  color: var(--color-proton);
}

.o-neutron {
  color: var(--color-neutron);
}

.o-electron {
  color: var(--color-electron);
}

.o-notification {
  width: 100%;
  height: 40px;
  color: black;
  font-weight: bold;
  line-height: 40px;
}

.o-notification--success {
  background: #ff9800;
}

.o-notification--info {
  background: #99aaff;
}

.c-mass-softcap-row {
  font-size: 14px;
}

.c-mass-softcap-row:first-child {
  color: red;
}

.l-element-table-container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 10px auto;
  overflow-x: auto;
  min-height: 414px;
}

.o-element-grid {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid white;
  background-color: #1b1a1e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
}

.o-element-grid--available {
  background-color: #444444;
}

.o-element-grid--bought {
  background-color: #00520b;
}